<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <!--
    ${출력할 속성이름} - 출력(expression language: EL)
     -->
</head>
<body>
<!-- list 반복문으로 출력 -->
<h2>리스트 출력: 사용자 목록</h2>
<ul>
    <li th:each="item : ${list}" th:text="${item}"></li>
</ul>

<p>나이 : <span th:text="${age}"></span> </p>
<!-- span태그 : text만 있어서 문법에서 tag가 필요한 경우 사용 -->

<!-- 조건문 -->
<h3>로그인 상태</h3>
<p th:if="${userId}">로그인한 사용자:
    <span th:text="${userId}">root</span></p>
<p th:unless="${userId}">로그인되지 않았습니다. 로그인하세요!</p>
<hr>
<p th:if="${age >= 18}">성인입니다.</p>
<p th:unless="${age >= 18}">미성년자입니다.</p>

</body>
</html>