<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Example</title>
<!--    css, js, img파일은 static파일이므로 static폴더아래부터 경로시작! -->
    <link rel="stylesheet" href="/css/member.css">
</head>
<body>
<div class="container">
    <div class="header">Welcome Spring World!</div>
    <table>
        <tr>
            <th>회원가입</th>
            <th>회원탈퇴</th>
            <th>회원수정</th>
            <th>회원정보</th>
        </tr>
        <tr>
            <td>
                <a href="create">
                    <button>회원가입 처리 요청</button>
                </a>
            </td>
            <td>
                <a href="delete?id=apple">
                    <button>회원탈퇴 처리 요청</button>
                </a>
            </td>
            <td>
                <a href="update?id=apple">
                    <button>회원수정 처리 요청</button>
                </a>
            </td>
            <td>
                <form action="read" method="post">
                    <label for="id">ID:</label>
                    <input type="number" id="id" name="id" value="100">
                    <br><br>
                    <button type="submit">회원정보 처리 요청</button>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
