<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Example</title>
<!--    css, js, img파일은 static파일이므로 static폴더아래부터 경로시작! -->
    <link rel="stylesheet" href="/css/member.css">
</head>
<body>

<div class="container">
    <table>
        <tr>
            <td>회원id</td>
            <td>회원pw</td>
        </tr>
        <tr>
            <td>apple</td>
            <td>1234</td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="/member">회원정보 페이지로</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
